/doc/
/bin/
/.shards/

# Java

*.class

# Python
*.pyc

/orangejoos
/orangejoos.dwarf
/orangejoos.zip

/joosc
/joosc.dwarf
/orangejoos.zip

*.DS_Store
failed_tests.tmp

grammar/joos1w.cfg
grammar/joos1w.lr1
