/output/
/doc/
/bin/
/.shards/
/docs/**/*

# Java

*.class

# Python
*.pyc

/orangejoos
/orangejoos.dwarf
/orangejoos.zip

/joosc
/joosc.dwarf
/joosc.zip

*.DS_Store
failed_tests.tmp

grammar/joos1w.cfg
grammar/joos1w.lr1
